<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
    <title>QuoteBook</title>
</head>
<body>
    <nav>
        <a href="/quotes">Return to Homepage</a>
        <a href="/quotes/new">Add a Quote</a>
        <a href="/quotes/favorites">Favorites</a>
    </nav>
    <div class="wrapper">
        <h1>"<%= quote.body %>"</h1>
        <h2>- <%= quote.author %></p>
        <!--Delete form-->
        <form class="showform" action="/quotes/<%= quote.id %>?_method=DELETE" method="POST">
            <input class="button" type="submit" value="Delete"/>
        </form>
        <!--Edit form-->
        <form class="showform" action="/quotes/<%= quote.id %>/edit" method="PUT">
            <input class="button" type="submit" value="Edit"/>
        </form>
        <!-- Add to favorites button -->
        <input class="button" type="submit" value="Add to Favorites" id="addToFavBtn"/>
    </div>
    <script>
        // Client side frontend code to handle the add to favorites request
        // jQuery post method sends the data instead of using a <form> 
        let $addFavBtn = $('#addToFavBtn');

        $addFavBtn.on('click', handleClick);

        function handleClick() {
            $.post('/quotes/<%= quote._id %>?_method=PUT', {favorited: 'on'}, (result) => {
                alert('Quote added to favorites!')
            });
        }
    </script>
</body>
</html>